/aluno.py
/biblioteca.py
/biblioteca2.py
/Carro.py
/circulo.py
/Cliente.py
/Conta.py
/dicionario1.5.py
/dicionarios.py
/dicionarios2.py
/Ex001main.py
/Ex002main.py
/funções.py
/funções2.py
/funções3.py
/funções4.py
/kv.py
/kv2.py
/loops2.py
/main.kv
/Main.py
/protótipo de calculadora.py
/test.kv
/teste1.py
/teste2.py
/teste3.py